<header class="navbar navbar-expand-lg saas-header sticky-top">
  <div class="container-fluid px-4">
    
    <div class="header-left d-flex align-items-center">
      <div class="logo-wrapper brand-main">
        <img src="assets/images/GestoPrime.png" alt="GestoPrime" class="img-fluid">
      </div>
      
      <div class="brand-divider mx-3"></div>
      
      <div class="logo-wrapper brand-sirh">
        <img src="assets/images/sirh.png" alt="SIRH" class="img-fluid opacity-75">
      </div>
    </div>

    <div class="header-right ms-auto d-flex align-items-center gap-3">
      
      <div class="user-info-block d-none d-lg-flex flex-column text-end me-2">
        <span class="label-session">Session Active</span>
        <span class="user-name">
          {{ user['http://schemas.microsoft.com/ws/2008/06/identity/claims/role'] || 'Administrateur' }}
        </span>
      </div>

      <div class="saas-avatar shadow-sm">
        <span>{{ (user['http://schemas.microsoft.com/ws/2008/06/identity/claims/role'] || 'A').charAt(0) }}</span>
      </div>

      <div class="vr mx-2 opacity-10" style="height: 24px;"></div>

      <button class="btn-saas-logout" (click)="onLogout()">
        <i class="bi bi-box-arrow-right"></i>
        <span class="ms-2 d-none d-md-inline">Déconnexion</span>
      </button>
    </div>

  </div>
</header>